/* Front Slideshow
   ============================================================== */

ul.slideshow {
  position: relative;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    width:100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms;

    &.active {
      z-index: 10;
      opacity: 1;
    }
    
    img {
      width: 100%;
      height: auto;
    }   
  }
}
